/*
css for chokusopost HP Contact
Author: Tatsuki Isogami
v1.0.0
*/


/*Contactページのみで使用*/
.contact-contents-header {
  font-size: 30px;
  
}

.contact-contents {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*hogehoge
*/